@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Nunito Sans", serif;
}

:root {
    --bg-color: #191f36;
    --snd-bg-color: #262840;
    --text-color: #fff;
    --main-color: #5982F4;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}


section {
    min-height: 100vh;
    padding: 10rem 2% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 4%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 200;
    cursor: default;
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

ol {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

#menu-icon {
    font: 3.6rem;
    color: var(--text-color);
    display: none;
    
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 200;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 200;
    line-height: 1.3;
}

.home-img {
    animation: floatImage 4s ease-in-out infinite;
    margin-left: 3rem;
}

.home-img img {
    width: 24vw;
    border-radius: 100%;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0)
    }

}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media ol {
    display: flex;
    justify-content: flex-start;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background: var(--snd-bg-color);
    padding: 5rem 10%;
}

.sobre img {
    width: 20vw;
    border-radius: 30px;
    box-shadow: 0 8px 32px var(--main-color);
}


.cabecalho {
    text-align: center;
    font-size: 2.5rem;
}

.sobre-content h2 {
    text-align: left;
    line-height: 1.2rem;
}

.sobre-content h3 {
    font-size: 2.6rem;
}

.sobre-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    line-height: 1.5;
}

.projetos {
    background: var(--snd-bg-color);
    text-align: center;
    padding: 10rem 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projetos h2 {
    margin-bottom: 4rem;
    font-size: 4em;
}

.projetos p {
    margin: 4rem 0;
    font-size: 2rem;
}
.projetos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.projetos-container .projetos-caixa {
    position: relative;
    border-radius: 2rem;
    border: 2px solid #ffff;
    overflow: hidden;
    display: flex;
    
}

.projetos-caixa img {
    width: 100%;
    transition: .5s ease;
    opacity: 0.7;
    object-fit: cover; /* Mantém a proporção da imagem */

}

.projetos-caixa:hover img {
    transform: scale(1.1);
}

.projetos-caixa .projetos-camada {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0, 0, 0, 0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.projetos-caixa:hover .projetos-camada {
    transform: translateY(0);
}

.projetos-camada h4 {
    font-size: 3rem;
}

.projetos-camada p {
    font-size: 1.6rem;
    margin: .1rem 0 .1rem;
}

.projetos-camada a {
    display: inline flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
    margin-top: 1em;
}

.projetos-camada a i {
    font-size: 2rem;
    color: var(--snd-bg-color);
}

.diminuir-img {
    width: 30rem;
    height: 25.2rem;
}

.contato h2 {
    margin-bottom: 3rem;
}

.contato form {
    max-width: 70rem;
    margin: 3rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contato form .input-caixa {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contato form .input-caixa input,
.contato form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--snd-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contato form .input-caixa input {
    width: 49%;
}


.contato form textarea {
    resize: none;
}

.contato form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

/* Para navegadores WebKit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--snd-bg-color);
}

.footer-texto {
    font-size: 1.6rem;
}

.footer-iconeTopo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconeTopo a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconeTopo a i {
    font-size: 2.4rem;
    color: var(--snd-bg-color);
}